<nav-bar></nav-bar>>

<div class="container">
  <router-outlet></router-outlet>
</div>

<nav class="navbar navbar-light bg-faded navbar-fixed-bottom ">
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
          <player></player>
      </div>
      <div class="col-xs-6">
        <playlist-selector></playlist-selector>
      </div>
    </div>
  </div>
</nav>